.cointenerMovie{
	display: flex;
}
.section-heading {
	margin-top: 80px;
	margin-bottom: 40px;
}
.section-heading h1 {
	font-size: 22px;
	font-weight: 700;
	color: #EC71A3;
	margin-top: 15px;
}
.section-heading .line-dec {
	width: 30px;
	height: 5px;
	background-color: #71C0EF;
}
.single-movie .left-content {
	padding: 20px;
	border: 1px solid #eee!important;
	border-radius: 5px;
    text-align: center;
	width: 47%;
}
.image {
	border: none!important;
}
.image img{
    width: 50%;
    height: 50%;
}
.right-content{
	margin-left: 3%;
	width: 50%;
}
.single-movie .right-content h4 {
	font-size: 17px;
	font-weight: 700;
	margin-top: 0px;
}
.single-movie .right-content h6 {
	color: #3a8bcd;
	font-size: 17px;
	font-weight: 700;
	margin-top: 10px;
}
.single-movie .right-content p {
	margin-top: 20px;
	margin-bottom: 30px;
}
.single-movie .right-content span {
	font-size: 14px;
	color: #3a8bcd;
	font-weight: 500;
	display: inline-block;
	margin-bottom: 15px;
}
.nameMovie{
    color:#EC71A3;
    font-size: 40px !important;
    font-weight: bold;
}
@media only screen and (max-width: 768px) {
	.cointenerMovie{
		flex-direction: column;
	}
	.right-content{
		width: 100% !important;
		margin-left: 0;
	}
	.single-movie .left-content{
		width: 100%;
		margin-bottom: 17px;
	}
}