.footerc{
    background-color: #cc9ac2;
    margin-top: 50px;
}
.footerr {
	text-align: center;
    background-color: #cc9ac2;
}
.footer .footer-menu {
	margin-bottom: 20px;
    color:#263B70;
}
.sub-footer{
	border-top: 1px solid #eee;
	text-align: center;
}
.sub-footer p {
	font-size: 12px;
	color: #7a7a7a;
	line-height: 60px;
}
