@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.brand {
  font-weight: bold;
  font-size: 20px; 
color: #994A89;}
.textBrand{
  color:#994A89;
  text-shadow: 1px 1px 2px #994A89;
  font-size: 27px;
}
a:hover{
  color:#994A89;
}
.site-header {
  position: fixed;
  background-color: rgb(34, 34, 34);
  width: 100%;
  margin: 0px;
  z-index: 1;
  top: 0;
  margin-bottom: 10%;
}  
.site-header__wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem; 
}
  @media (min-width: 600px) {
    .site-header__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 0;
      padding-bottom: 0; 
      z-index: 1;
    } 
}
@media (min-width: 600px) {
  .nav__wrapper {
    display: flex; 
    justify-content: center;
  }
}

@media (max-width: 599px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    text-align: center;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(34, 34, 34, 0.959);
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out; 
  }
  .nav__wrapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); 
  }  
}
.nav__item a {
  display: block;
  padding: 1.5rem 1rem; 
color: white;
text-decoration: none;
z-index: 1;
}
.nav__item:hover{
  background-color:#994A89 ;
}
.nav__item  { 
  transition: background-color 0.4s;
  border-radius: 5px;
}
.nav__item:hover::after{
  width:0%;
}
.nav__toggle {
  display: none; 
} 
@media (max-width: 599px) {
  .nav__toggle {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem; 
    background-color: transparent;
    border:1px solid #994A89;
    color: #994A89;
    cursor: pointer;
  } 
  .nav__toggle:hover{
    background-color: #994A89;
    color: white;
  }
}
.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
}
body,ul
{margin:0;
padding:0;
border:0;
}
ul{list-style:none}
